 @model CreateBookingViewModel

<div class="booking-form">
    <form asp-controller="Home" asp-action="SubmitBooking" method="post">
        <div class="control-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" asp-for="EmailAddress">
                <div class="input-group-append">
                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Mobile" asp-for="Phone">
                <div class="input-group-append">
                    <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="input-group date" id="date" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" asp-for="Date" placeholder="Date" data-target="#date" data-toggle="datetimepicker">
                <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="input-group time" id="time" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" asp-for="Time" placeholder="Time" data-target="#time" data-toggle="datetimepicker">
                <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="input-group">
                <select asp-for="GuestCount" class="custom-select form-control">
                    <option selected="">Guest</option>
                    <option value="1">1 Guest</option>
                    <option value="2">2 Guest</option>
                    <option value="3">3 Guest</option>
                    <option value="4">4 Guest</option>
                    <option value="5">5 Guest</option>
                    <option value="6">6 Guest</option>
                    <option value="7">7 Guest</option>
                    <option value="8">8 Guest</option>
                    <option value="9">9 Guest</option>
                    <option value="10">10 Guest</option>
                </select>
                <div class="input-group-append">
                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn custom-btn" type="submit">Book Now</button>
        </div>
    </form>
</div>



