@model CreateCategoryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<div class="card">
            <div class="card-header">
                <div class="card-title">Create Category</div>
            </div>
			<div class="card-body">
                <form asp-controller="Category" asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <!-- Add other form fields as needed -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
				</div>
				
			</div>
				
		</div>
				
	</div>


